<!Doctype html>
<html>

<head>
    <script src="/angular.js"></script>
    <script src="numbersapi.main.js"></script>
    <script src="numbersapi.DataCtrl.js"></script>
    <script src="numbersapi.dataservice.js"></script>
</head>

<body ng-app="main" ng-controller="dataCtrl">

    <div>

        <p>Enter Number: </p>
        <input type="text" ng-model="value">
        <input type="button" ng-click="load()" value="Search">
        <ul>
            <li ng-repeat="obj in val track by $index">{{obj.data}}</li>
        </ul>
    </div>

</body>

</html>